<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Insider Test Automation Suite" parallel="false" verbose="1">
    
    <!-- Listeners for Allure Integration -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
    <!-- Simple Test Suite for CI/CD -->
    <test name="Pipeline Validation Tests">
        <classes>
            <class name="tests.SimpleTest"/>
        </classes>
    </test>
    
    <!-- Main E2E Test Suite -->
    <test name="Insider Career Flow Tests" enabled="true">
        <classes>
            <class name="tests.InsiderCareerFlowTest">
                <methods>
                    <include name="testInsiderCareerJourney"/>
                </methods>
            </class>
        </classes>
    </test>
    
</suite> 